@font-face {
  font-family: "norsebold";
  src: url("/fonts/norsebold-webfont.woff2") format("woff2"),
    url("/fonts/norsebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;

  background-color: #f9fafb;

  display: flex;
}
aside {
  flex-basis: 50%;
  height: 100vh;

  background-image: url("olena-bohovyk-r0M9HrfJMBM-unsplash.jpg");
  background-position: center;
}
main {
  flex-basis: auto;
  min-height: calc(100vh - 5rem);
  margin-top: 5rem;
}
main .hero {
  margin-left: 3rem;
}

h1,
h2,
h3 {
  line-height: 1.23;
  margin-bottom: 1.5rem;
}

main h1 {
  margin-bottom: 2rem;
  max-width: 70%;
}

main h2 {
  margin-bottom: 3rem;
}

/* FORM */
form {
  width: 100%;
}

form header {
  background: white;
  padding: 1.5rem 3rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075);
}

form footer {
  margin-left: 3rem;
}

input,
label,
button {
  font-family: inherit;
  line-height: 1.2;
  font-size: 100%;
}

label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  font-weight: bold;
  color: #606771;
}

input {
  padding: 0.4rem;
  border: 1px solid #e5e7eb;
}

form .row {
  display: flex;
  gap: 50px;
  margin-bottom: 1rem;
}

.create-btn {
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  background: #507935;
  color: white;
  text-transform: capitalize;
  margin: 2rem 0;
}

form footer > p {
  font-weight: 500;
}

.login-btn {
  border: none;
  background: transparent;
  color: #507935;
  font-weight: bold;
}

#odin-logo {
  margin-top: 10rem;
  background-color: black;
  padding: 15px;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
}
#odin-logo img {
  object-fit: contain;
}
#odin-logo span {
  display: inline-block;
  color: white;
  font-family: "norsebold";
  text-transform: uppercase;
  font-size: 100px;
}

aside {
  position: relative;
}
#photo-credit {
  position: absolute;
  bottom: 20px;
  left: 30%;
  color: white;
  background-color: #507935;
  padding: 5px 10px;
  border-radius: 2px;
}

#photo-credit a {
  color: inherit;
}
